.wrapper {
    background-color: white;
    width: 200px;
    height: 100px;
    position: absolute;
    touch-action: none;
    border-radius: 6px;
}

.wrapper h2 {
    padding: 5px 10px;
    margin: 0;
    border-radius: 6px 6px 0 0;
    background-color: var(--dark);
    color: var(--light);
    font-size: 20px;
    font-weight: unset;
}

.wrapper div.content {
    padding: 10px;
    margin: 0;
}