.wrapper {
    #width: 300px;
    position: absolute;
    --roundedCorner: 4px;
    /* filter: drop-shadow(1px 1px 5px #ddd); */
    user-select: none;
}

.wrapper h2 {
    padding: 5px 10px;
    margin: 0;
    #background-color: var(--darkblue);
    background-color: white;
    #color: var(--light);
    font-size: 12px;
    font-weight: unset;
    touch-action: none;
}

.wrapper div.content {
    padding: 10px;
    color: #aaa;
    margin: 0;
    background-color: white;
    #border-radius: 0 0 var(--roundedCorner) var(--roundedCorner);
}