.header {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 10px;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;

    & h2 {
        margin: 0;
        font-size: 18px;
        #font-weight: 0;
    }
}